$primary-color: #835afd;
$secondary-color: #f8f8f8;

$white: #fff;
$grey: #a8a8b3;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $secondary-color;
  color: #29292e;
}

body, input, button, textarea {
  font: 400 16px 'Roboto', sans-serif;
}